[Unit]
Description=Mercury API
After=network.target

[Service]
WorkingDirectory=/srv/mercury-api/releases/current
EnvironmentFile=-/srv/mercury-api/env
ExecStart=/usr/bin/yarn start
User=mercury-api

[Install]
WantedBy=multi-user.target
